* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* li {
  list-style-type: none;
}

* a {
  color: #0CC965;
  text-decoration: none;
}

* a:hover {
  color: #F7A31D;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper [class*="container"] {
  margin: 5px auto;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper [class*="container"] .innerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brandName {
  font-family: "Limelight";
  color: black;
  font-size: 1.4em;
}

.brandName:hover {
  color: black;
}

.navContainer {
  background-color: white;
  height: 100vh;
  display: none;
  margin: 0%;
  padding: 0%;
  border: none;
}

.navContainer #toggleNav {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.navContainer #toggleNav #closeMenu {
  font-size: 40px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navContainer #toggleNav #closeMenu:hover {
  -webkit-transform: translate(5px, 10px);
          transform: translate(5px, 10px);
  font-size: 45px;
  background-color: #F7A31D;
  color: #F2F2F2;
  border-radius: 180px;
  margin: 0%;
}

.navContainer .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
}

.navContainer .menu .navLinks {
  font-family: "Montserrat";
  font-weight: 600;
}

.navContainer .menu .navLinks .navLink {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 0px;
  margin-bottom: 3px;
  border-bottom: 3px solid white;
  width: 20em;
  -webkit-transition: width 2s, border-bottom 1s, -webkit-transform 1s;
  transition: width 2s, border-bottom 1s, -webkit-transform 1s;
  transition: width 2s, border-bottom 1s, transform 1s;
  transition: width 2s, border-bottom 1s, transform 1s, -webkit-transform 1s;
}

.navContainer .menu .navLinks .navLink:hover {
  border-bottom: 3px solid #0CC965;
  width: 90%;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
}

.navContainer .menu .navLinks a {
  color: black;
  display: block;
}

.navContainer #fitSite {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin: 4em 4em 4em 0em;
  border: 1px solid #e5e5e5;
  padding: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #F7A31D;
  -webkit-transform: translate(10px, 15px);
          transform: translate(10px, 15px);
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navContainer #fitSite:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.navContainer #fitSite div {
  margin: auto;
  height: 90%;
  width: 90%;
  background: url("/media/aboutSnip.PNG") no-repeat center;
  background-size: contain;
}

#menuIcon {
  cursor: pointer;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.defaultNavContainer {
  padding: 10px 0px 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainNavContainer {
  border-bottom: 1px solid #DBDBDB;
}

.hero-container .innerSection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.hero-container .innerSection h1 {
  font-family: "Poppins";
  font-weight: bolder;
  display: inline-block;
  font-size: 2.2em;
  border-bottom: 4px solid #0CC965;
}

.hero-container .innerSection p {
  margin: 10px 0px;
  font-family: "Poppins";
  font-size: 1.3em;
  text-align: center;
}

.hero-container .innerSection p span {
  font-weight: bolder;
  letter-spacing: 0.200em;
}

.coreValue {
  margin: 0px auto;
  text-align: center;
}

.coreValue h1 {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 2em;
  display: inline-block;
  border-bottom: 4px solid #0CC965;
}

.fvalue-container .innerSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.fvalue-container .innerSection h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.fvalue-container .innerSection p {
  font-family: "Poppins";
  font-size: 1em;
}

.fvalue-container .innerSection img {
  width: 300px;
}

.svalue-container .innerSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.svalue-container .innerSection h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.svalue-container .innerSection p {
  font-family: "Poppins";
  font-size: 1em;
}

.svalue-container .innerSection img {
  width: 300px;
}

.tvalue-container .innerSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.tvalue-container .innerSection h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.tvalue-container .innerSection p {
  font-family: "Poppins";
  font-size: 1em;
}

.tvalue-container .innerSection img {
  width: 300px;
}

.last-container .innerSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.last-container .innerSection h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.last-container .innerSection p {
  font-family: "Poppins";
  font-size: 1em;
  text-align: center;
}

footer {
  background-color: #161822;
}

footer section {
  text-align: center;
  padding: 18px;
  font-family: "Montserrat";
  font-size: 13px;
  color: white;
}

footer section a {
  font-family: "Poppins";
  font-size: 13px;
}

@media (max-width: 768px) {
  #fitSite {
    display: none;
  }
  .navContainer {
    height: 100vh;
    width: 100vw;
  }
  .navContainer .navLink {
    font-size: 15px;
    width: 8px;
  }
}

@media (max-width: 425px) {
  .defaultNavContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .defaultNavContainer .siteTitle a {
    font-size: 20px;
  }
  img {
    display: none;
  }
}

@media (min-width: 768px) {
  [class*="container"] {
    width: 85%;
  }
}

@media (min-width: 1024px) {
  [class*="container"] {
    width: 75%;
  }
}

@media (min-width: 1400px) {
  .fvalue-container .innerSection img {
    width: 430px;
  }
  .svalue-container .innerSection img {
    width: 430px;
  }
  .tvalue-container .innerSection img {
    width: 430px;
  }
}
/*# sourceMappingURL=about.css.map */