* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* li {
  list-style-type: none;
}

* a {
  color: #0CC965;
  text-decoration: none;
}

* a:hover {
  color: #F7A31D;
}

.container-wrapper {
  padding: 5px;
}

.container-wrapper [class*="container"] {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}

.container-wrapper [class*="container"] .innerSection {
  padding: 5px;
  margin: 5px;
}

@media (max-width: 425px) {
  form {
    width: 80vw;
  }
  form #cv {
    width: 50%;
  }
  .empty {
    display: none;
  }
  .info-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column wrap !important;
            flex-flow: column wrap !important;
  }
  form {
    padding: 10px !important;
    margin: 0 !important;
  }
}

@media (min-width: 768px) {
  .container-wrapper [class*="container"] {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .container-wrapper [class*="container"] {
    width: 70%;
  }
}

.brandName {
  font-family: "Limelight";
  color: black;
  font-size: 1.4em;
}

.brandName:hover {
  color: black;
}

.navContainer {
  background-color: white;
  height: 100vh;
  display: none;
  margin: 0%;
  padding: 0%;
  border: none;
}

.navContainer #toggleNav {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.navContainer #toggleNav #closeMenu {
  font-size: 40px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navContainer #toggleNav #closeMenu:hover {
  -webkit-transform: translate(5px, 10px);
          transform: translate(5px, 10px);
  font-size: 45px;
  background-color: #F7A31D;
  color: #F2F2F2;
  border-radius: 180px;
  margin: 0%;
}

.navContainer .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
}

.navContainer .menu .navLinks {
  font-family: "Montserrat";
  font-weight: 600;
}

.navContainer .menu .navLinks .navLink {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 0px;
  margin-bottom: 3px;
  border-bottom: 3px solid white;
  width: 20em;
  -webkit-transition: width 2s, border-bottom 1s, -webkit-transform 1s;
  transition: width 2s, border-bottom 1s, -webkit-transform 1s;
  transition: width 2s, border-bottom 1s, transform 1s;
  transition: width 2s, border-bottom 1s, transform 1s, -webkit-transform 1s;
}

.navContainer .menu .navLinks .navLink:hover {
  border-bottom: 3px solid #0CC965;
  width: 90%;
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
}

.navContainer .menu .navLinks a {
  color: black;
  display: block;
}

.navContainer #fitSite {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin: 4em 4em 4em 0em;
  border: 1px solid #e5e5e5;
  padding: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #F7A31D;
  -webkit-transform: translate(10px, 15px);
          transform: translate(10px, 15px);
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navContainer #fitSite:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.navContainer #fitSite div {
  height: 90%;
  width: 90%;
  margin: auto;
  background: url("/media/contactCapture.png") no-repeat center;
  background-size: contain;
}

#menuIcon {
  cursor: pointer;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.defaultNavContainer {
  padding: 10px 0px 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainNavContainer {
  border-bottom: 1px solid #DBDBDB;
}

.hero-container {
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container .innerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero-container .innerSection h1 {
  font-family: "Poppins";
  font-weight: bolder;
  display: inline-block;
  font-size: 2.2em;
  border-bottom: 4px solid #0CC965;
  margin-bottom: 10px;
}

.hero-container .innerSection p {
  margin: 10px 0px;
  font-family: "Poppins";
  font-size: 1.3em;
  text-align: center;
}

.appl-container {
  min-height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appl-container .innerSection {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.appl-container .innerSection form {
  -webkit-box-shadow: 2px 4px 5px 3px #DBDBDB;
          box-shadow: 2px 4px 5px 3px #DBDBDB;
  padding: 50px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.appl-container .innerSection form h2 {
  font-family: "Limelight";
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0px 5px;
}

.appl-container .innerSection form h5 {
  font-family: "Didact Gothic";
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 25px;
}

.appl-container .innerSection form input {
  font-family: "Poppins";
  font-size: 0.9em;
  min-width: 100%;
  margin: 5px 0px;
  padding: 9px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

.appl-container .innerSection form input:focus {
  border-color: #F7A31D;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.appl-container .innerSection form p {
  font-size: 0.9em;
  font-family: "Poppins";
  padding: 10px 10px 0px;
}

.appl-container .innerSection form #cv {
  border: none;
  padding: 10px;
  background-color: #F7A31D;
  border-radius: 1px;
  color: white;
}

.appl-container .innerSection form #submit {
  background-color: #0CC965;
  color: white;
  font-size: 1.1em;
  border-radius: 4px;
}

.appl-container .empty {
  -webkit-box-flex: 2 !important;
      -ms-flex-positive: 2 !important;
          flex-grow: 2 !important;
}

.contactC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.contactC .innerSection {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 5px 3px #DBDBDB;
          box-shadow: 2px 4px 5px 3px #DBDBDB;
  display: block;
  text-align: center;
  padding: 20px 10px !important;
  margin: 10px !important;
}

.contactC .innerSection h4 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
}

.contactC .innerSection p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.info-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-container .innerSection img {
  width: 70px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.info-container .innerSection img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contactForm #message {
  border-radius: 4px;
  height: 200px;
}

footer {
  background-color: #161822;
}

footer section {
  text-align: center;
  padding: 18px;
  font-family: "Montserrat";
  font-size: 13px;
  color: white;
}

footer section a {
  font-family: "Poppins";
  font-size: 13px;
}
/*# sourceMappingURL=contact.css.map */